*{
    margin: 0;
    padding: 0;
}

.container{
    width: 600px;
    height: 400px;
}

.block1{
    background-color: red;
    display: flex;
    width: 30%;
    height: 50%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}

.block2{
    background-color: yellow;
    display: flex;
    width: 30%;
    height: 25%;
    align-items: center;
    justify-content: center;
    
}
.block3{
    background-color: green;
    display: flex;
    width: 30%;
    height: 25%;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}
.block4{
    background-color: red;
    display: flex;
    width: 200px;
    height: 200px;
}
.block5{
    background-color: red;
    display: flex;
    width: 200px;
    height: 200px;
}

.block6{
    background-color: red;
    display: flex;
    width: 200px;
    height: 200px;
}

.block7{
    background-color: red;
    display: flex;
    width: 200px;
    height: 200px;
}

.block8{
    background-color: red;
    display: flex;
    width: 200px;
    height: 200px;
}

.block9{
    background-color: red;
    display: flex;
    width: 200px;
    height: 200px;
}

